# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Ignore the dependency directories.
depdir

# Ignore any and all tmp directories and files.
tmp
*.tmp

# Copied include files
# AVR/include/*.h

# XCode user data
AVR/AVR2.xcworkspace/xcuserdata
*.xcodeproj
build

# Attics
*/Attic

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and AVR files
*.out.map
*.hex
*.exe
*.out
*.app
