# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Ignore the dependency directories.
depdir

# Ignore any and all tmp directories and files.
tmp
*.tmp

# Copied include files
# AVR/include/*.h

# CLION
.idea

# Visual Code
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# Platform IO
.pio

# XCode user data
AVR/AVR2.xcworkspace/xcuserdata
*.xcodeproj
build

# AVR/include is installed.
AVR/include

# XCode DerivedData directories
DerivedData

# Attics
*/Attic

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and AVR files
*.out.map
*.hex
*.exe
*.out
*.app
